pkgbase = dupeguru
	pkgdesc = Find duplicate files with various contents, using perceptual diff for pictures
	pkgver = 4.2.1
	pkgrel = 1
	url = https://dupeguru.voltaicideas.net/
	arch = any
	license = GPL3
	makedepends = python-distro
	makedepends = python-sphinx
	depends = libxkbcommon-x11
	depends = python
	depends = python-mutagen
	depends = python-pyqt5
	depends = python-send2trash
	depends = python-hsaudiotag3k
	depends = python-polib
	provides = dupeguru
	conflicts = dupeguru-git
	conflicts = dupeguru-se
	conflicts = dupeguru-pe
	conflicts = dupeguru-me
	source = dupeguru-4.2.1.tar.gz::https://github.com/arsenetar/dupeguru/archive/refs/tags/4.2.1.tar.gz
	sha512sums = 7f2a5975a61832828af788022981654b501416dfaf90b9c4294f5f809c75d07fb9503b7086170d44901aefd36591f0d7ed5d75d7f96ebe35107c383970b27408

pkgname = dupeguru
